Repository mootmoot1/EmpireOS, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, devbot, tests, docs, risk

.github/labeler.yml:

frontend:
  - "hud/**"
backend:
  - "api/**"
devbot:
  - "devbot/**"
tests:
  - "tests/**"
docs:
  - "README.md"
risk:
  - ".github/workflows/**"
  - "docker-compose.yml"
  - "Dockerfile"
  - "**/settings*.py"

ci(guardrails): size limits + risk label gate
  .github/workflows/pr_guardrails.yml
Labels: risk

ci: auto-tag on merge to main
  .github/workflows/autotag.yml
Labels: risk

chore: add CODEOWNERS (soft guard)
  .github/CODEOWNERS
Labels: none

deps: add mido for MIDI
  requirements.txt
Labels: none

feat(beatmaker): core MIDI generator
  agents/beatmaker/beatmaker_agent.py
Labels: none

feat(beatmaker): CLI generator
  scripts/beatmaker_make.py
Labels: none

test(beatmaker): smoke test
  tests/test_beatmaker_smoke.py
Labels: tests

ci(beatmaker): add test workflow
  .github/workflows/beatmaker_ci.yml
Labels: risk

Save before shutdown
  agents/__init__.py
  agents/beatmaker/__init__.py
  autopull.log
  logs/devbot_health.log
  outputs/beatmaker/1759898589_A-minor_lofi_84bpm.mid
  scripts/inbox_watcher.py
Labels: none

beatmaker: multi-MIDI layers + per-song manifest
  outputs/beatmaker/Project_Eclipse/manifest.json
  scripts/beatmaker_make.py
Labels: none

beatmaker: disable FluidSynth; add --reveal Finder open
  scripts/beatmaker_make.py
Labels: none
